bcrypt==4.3.0
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
cryptography==43.0.3
idna==3.10
lefthook==1.11.13
-e git+ssh://git@github.com/tttech-nerve/nerve-api-python.git@ad32f9d501739722bd10ec05b12e4496c98f5be9#egg=nerve_lib
paramiko==3.5.1
pycparser==2.22
PyNaCl==1.5.0
PyYAML==6.0.2
requests==2.32.3
requests-toolbelt==1.0.0
ruff==0.12.12
scp==0.15.0
sshtunnel==0.4.0
urllib3==2.4.0
